@import url('https://fonts.googleapis.com/css2?family=Markazi+Text:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --primary: #495e57;
    --secondary: #f4ce14;
}

* {
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Markazi Text';
}

h1, .card>title, .hightlight {
    font-weight: bold;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 40px;
}

p, h3, h4, .booking-form {
    font-family: 'Karla';
}

p, .card>title {
    font-size: 18px;
}

h3, h4 {
    font-weight: bolder;
}

h3 {
    font-size: 20px;
    text-transform: uppercase;
}

h4, .card>p, .hightlight {
    font-size: 16px;
}

.card>p {
    line-height: 1.5rem;
}

ul {
    list-style: none;
}

li {
    padding: 5px;
}

.flex {
    display: flex;
}

.round1 {
    border-radius: 16px;
}

.round2 {
    border-radius: 8px;
}

/* Header */
.header-container {
    justify-content: space-between;
    padding: 2rem 0;
    margin: 0 10rem;
}

nav ul {
    display: flex;
    align-items: center;
}

button, #submit-button {
    padding: 1em;
    border-radius: 8px;
    background-color: var(--secondary);
    border: 1px solid rgb(0,0,0,0);
}

button:hover, #submit-button:hover {
    background-color: var(--primary);
    color: white;
    border: 1px solid white;
}

/* Hero */
.hero-container {
    background-color: var(--primary);
    padding: 3rem 10rem;
}

.hero-image-card {
    position: absolute;
    right: 10rem;
}

.hero-container img {
    width: 25rem;
    height: 25rem;
}

.hero-container p {
    max-width: 50%;
    padding: 1rem 0;
}

/* Specials */
.specials-container {
    padding: 2.5rem 10rem;
}

.specials-heading {
    padding: 2.5rem 0;
    justify-content: space-between;
}

.specials-cards {

}

/* Testimonials */
.testimonials-container {
    background-color: var(--primary);
    padding: 5rem 10rem;
}

/* About */
.about-container {
    padding: 5rem 10rem;
}

.about-container p {
    max-width: 50%;
    min-height: 20rem;
}

.about-container img {
    width: 25rem;
    position: absolute;
}

.photo1 {
    left: 60%;
    transform: translateY(50%);
}

.photo2 {
    left: 70%;
}

/* Footer */
.footer-container {
    background: var(--primary);
    padding: 5rem 10rem;
    justify-content: space-between;
}

.footer-links {
    padding: 0 5rem;
}

.footer-logo {
    width: 10rem;
}

.modalBack {
    position: absolute;
    height: 90%;
    width: 90%;
    display: grid;
    place-items: center;
    background-color: none;
    top: 5%;
    left: 5%;
    z-index: 1000;
    backdrop-filter: blur(8px);
}

.modalContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-height: 90%;
    max-width: 90%;
    padding: 3rem;
    border-radius: 5px;
    border: 1px solid var(--primary);
    background-color: white;
}

.modal p {
    max-width: 100%;
}

.modal-title {
    justify-content: space-between;
}

/* Booking Form */
.booking-form {
    display: grid; 
    max-width: 200px; 
    gap: 20px;
    padding: 5rem;
    margin: 5rem;
    border: 1px solid black;
}

.booking-form input, select {
    padding: 5px;
    border-radius: 8px;
}

#submit-button {
    margin-top: 2rem;
}